NettapotekForm/Service References/NettapotekWebService/NAWebServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://na.webservices.reseptformidleren.ergo.no/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="NAWebServiceService" targetNamespace="http://na.webservices.reseptformidleren.ergo.no/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://139.112.129.5:80/NA/NAWebServiceSoapHttpPort?xsd=1" namespace="http://na.webservices.reseptformidleren.ergo.no/types/" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="http://139.112.129.5:80/NA/NAWebServiceSoapHttpPort?xsd=2" namespace="http://na.webservices.reseptformidleren.ergo.no/" />
    </xsd:schema>
  </types>
  <message name="NAWebService_m9na3">
    <part name="parameters" element="tns:M9na3Element" />
  </message>
  <message name="NAWebService_m9na3Response">
    <part name="result" element="tns:M9na4Element" />
  </message>
  <message name="AppRecFault">
    <part name="fault" element="tns:AppRecFault" />
  </message>
  <message name="NAWebService_m9na1">
    <part name="parameters" element="tns:M9na1Element" />
  </message>
  <message name="NAWebService_m9na1Response">
    <part name="result" element="tns:M9na2Element" />
  </message>
  <portType name="NAWeb">
    <operation name="NAWebService_m9na3">
      <input wsam:Action="M9na3" message="tns:NAWebService_m9na3" />
      <output wsam:Action="http://na.webservices.reseptformidleren.ergo.no/NAWeb/NAWebService_m9na3Response" message="tns:NAWebService_m9na3Response" />
      <fault wsam:Action="http://na.webservices.reseptformidleren.ergo.no/NAWeb/NAWebService_m9na3/Fault/AppRecFault" name="AppRecFault" message="tns:AppRecFault" />
    </operation>
    <operation name="NAWebService_m9na1">
      <input wsam:Action="M9na1" message="tns:NAWebService_m9na1" />
      <output wsam:Action="http://na.webservices.reseptformidleren.ergo.no/NAWeb/NAWebService_m9na1Response" message="tns:NAWebService_m9na1Response" />
      <fault wsam:Action="http://na.webservices.reseptformidleren.ergo.no/NAWeb/NAWebService_m9na1/Fault/AppRecFault" name="AppRecFault" message="tns:AppRecFault" />
    </operation>
  </portType>
  <binding name="NAWebPortBinding" type="tns:NAWeb">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="NAWebService_m9na3">
      <soap:operation soapAction="M9na3" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="AppRecFault">
        <soap:fault use="literal" name="AppRecFault" namespace="" />
      </fault>
    </operation>
    <operation name="NAWebService_m9na1">
      <soap:operation soapAction="M9na1" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="AppRecFault">
        <soap:fault use="literal" name="AppRecFault" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="NAWebServiceService">
    <port name="NAWebPort" binding="tns:NAWebPortBinding">
      <soap:address location="http://139.112.129.5:80/NA/NAWebServiceSoapHttpPort" />
    </port>
  </service>
</definitions>